.grid-container{
    display: grid;

    grid-template-columns: 300px 300px 300px 300px 300px 300px;

    margin-top: 80px;
    gap: 20px;
}



.book{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;

    margin-top: 10px;
    margin-bottom: 10px;


}

.rmvbook{
    justify-self: flex-end;
    align-self: center;
}





.add-btn{
    padding: 10px 10px 10px 10px;
}



.bookform {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.bookform form {
    display: flex;
    flex-direction: column;
}

.bookform button {
    margin-top: 10px;
}
